<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>Add Your User Here!</h1>


    </ul>
    <form action="/" method="POST">

                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required><br><br>
                
           
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required><br><br>
                
              
                <label for="image_url">Image URL:</label>
                <input type="text" id="image_url" name="image_url" required><br><br>
                
                
                <input type="submit" value="Add User">
            </form>
    <p>
    <form action="/user_listing">
        <input type="submit" value="Get A User Listing Directory">
        
    </form>
    </p>
    <!-- Cannot get user_id to work...<p>
        <h1>Umm...shouldn't there be authentication lol</h1>
        <form action="/disp" method="POST">
            <label for="user_id">User ID:</label>
            <input type="text" id="user_id" name="user_id" placeholder="Enter User ID">
            <input type="submit" value="Edit User">
        </form>  -->
        
      
        
        
        
        </form>
        </p>
</body>
</html>